<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
  <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <title>我是标题</title>
</head>
<body>
<div class="jumbotron">
  <h2 class="text-center text-info">BootStrap</h2>
</div>

<div class="container">
  <div class="row">
    <div class="btn btn-success btn-lg col-md-4">Success</div>
    <div class="btn btn-success btn-lg col-md-8">Success</div>
  </div>
</div>

<div class="container">
  <a class="btn btn-warning btn-xs"></a>
  <button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
  </button>
  <input type="button" class="btn btn-primary btn-lg">
</div>

<div class="container">

</div>



<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>
